<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
<!--    th:href="@{css/style.css}" "@{js/mainJS.js}"-->
    <link href="../css/style.css" media="all" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Creating new</title>
    <script src="../js/mainJS.js"></script>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="main-container">
    <div class="inner-cont">
        <h3>Создать новость </h3>
        <div class="create-article">
            <form action="/create_article" method="post">
                <label class="form-label">Имя статьи</label>
                <label>
                    <input type="text" name="name" placeholder="Введите имя новости"
                           class="form-control">
                </label>
                <label>
                <input type="text" name="img" placeholder="Введите URL изображения"
                       class="form-control">
                </label>
                <div class="full-desc-cont">
                    <label class="form-label" style="color:blue;opacity: 50%">Текст статьи</label>
                    <label>
                        <textarea cols="45" rows="15" name="fullDescription" class="form-control"></textarea>
                    </label>
                    <p>
                        <button type="submit" class="btn-publish">Опубликовать</button>
                        <button type="reset" class="btn-reset">Сброс</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
    <div class="edit-top-views-wrapper" >
        <div class="edit-top-views-article">
            <div class="edit-top-views-article-title" th:each="editArticle : ${articlesListForEdit}">
                <a class="edit-top-views-articles-name" th:href="${editArticle.id}" th:text="${editArticle.name}"></a>
                <a class="btn-edit" th:href="${editArticle.id} + '/edit'">Редактировать</a>
                <form th:action="${editArticle.id} + '/delete'" method="post">
                    <button type="submit" class="btn-reset">Удалить</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>
<!-- JavaScript Bundle with Popper -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>