<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" Type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>American Shnizel's news</title>
    <script th:href="@{../js/mainJS.js}"></script>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container-success">
    <span sec:authentication="name">Username</span>
    <span sec:authentication="principal.authorities">Roles</span>
    <span>THE NEW WAS SUCCESSFULLY CREATED</span><br><br>
    <a href="/">На главную</a><br><br>
    <a href="/fresh_news">Свежие новости</a><br><br>
    <a href="/create_article">Создать ещё одну новость</a>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>