<div th:fragment="header">
  <div class="header">
    <img th:src="@{/images/american_shnizel_avatar.jpg}" class="logo" alt="logo_" src="">
    <div class="title-shnizel">American shnizel | news</div>
    <div class="header-right">
      <a class="header-text" href="/">Главная страница</a>
      <a class="header-text" href="/news">Все новости</a>
      <a class="header-text" href="//t.me/americanShnizel">О нас</a>
<!--      <a class="header-text" href="#">Вопросы и предложения</a>-->
    </div>
  </div>
  <hr>
</div>